div{
    text-align: center;
}

.navbar{
    text-align: center;
    background-color: maroon;
    font-weight: bolder;
}

a {
    color:black;
  }
  
  a:hover {
    color: #fed420;
    text-decoration: none;
  }

nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
  }